<!DOCTYPE html>
<html>
    <head>
        <title>QuickMate – Free Online File Tools | Compress, Convert & Manage Files Easily</title>
       
        <!--seo decsription-->
        <meta name="decsription"
        content="QuickMate is a free online toolbox for your files. Compress images, merge PDFs, convvert formats and more, Fast, simple and no login required.">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B43QJG90XF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B43QJG90XF');
</script>

         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div class="container py-5">

            <!--Header-->
            <div class="text-center mb-5">
                <h1 class="fw-bold">QuickMate</h1>
                <p class="text-muted">Upload. Click. Done.</p>
            </div>

            <!--Tool Cards-->
            <div class="row g-4">

                <!--Image Compress-->
                <div class="col-md-4">
                    <a href="/compress" class="text-decoration-none">
                        <div class="card shadow-sm p-4 text-center h-100">
                            <h4>🖼</h4>
                            <h5>Compress Image</h5>
                            <p class="text-muted small"> Reduce image size instantly</p>
                        </div>
                    </a>
                </div>

                <!--Upcoming tools-->
                <div class="col-md-4">
                    <div class="card shadow-sm p-4 text-center h-100 bg-white-50">
                        <h2>📄</h2>
                        <h5 class="mt-2 text-muted">PDF Tools</h5>
                        <p class="small text-muted">Coming Soon</p>
                    </div>
                </div>

                <div class="col-md-4">
            <div class="card shadow-sm p-4 text-center h-100 bg-white-50">
                <h2>🔄</h2>
                <h5 class="mt-2 text-muted">Converters</h5>
                <p class="small text-muted">Coming soon</p>
            </div>
        </div>

    </div>

   
                
            </div>
             <div class="text-center mt-5 small text-muted">
        Made with ❤️ by Harshad • QuickMate © 2026
    </div>

        </div>
    </body>
</html>